*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.button{
    cursor: pointer;
}

/* MAIN SECTION */

/* top section */
header{
    background-color: rgb(0, 0, 0);
}

.container-main-section-top{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.container-main-section-top .speaker, .container-main-section-top .expand{
    padding: 5px;
    background-color: rgb(74, 74, 74);
    border-radius: 5px;
    margin: 5px;
}

/* central section */
.video-streaming-windows{
    width: 90vw;
    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 80px;
}

.user-streaming-window{
    background-image: url(https://picsum.photos/246/146);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 120px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 10px;
}

.info-user-transmission{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* FOOTER */

.container-footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 10vh;
    text-align: center;
    align-items: center;
    font-size: 12px;
    background-color: rgb(34, 34, 34);
    overflow-x: auto;
}

.left-footer, .central-footer, .right-footer{
    display: flex;
    align-items: center;
    flex-flow: center;
    justify-content: space-around;
}

.left-footer{
    width: 150px;
}

.central-footer{
    width: 600px;

}

.left-footer, .central-footer, .right-footer{
    margin-left: 5px;;
}

.footer-button{
    display: flex;
    flex-direction: column;
}

footer .fas{
    font-size: 25px;
    margin-bottom: 5px;
}

footer .fa-chevron-up{
    font-size: 10px;
}

.footer-button .fa-share-square{
    color: rgb(75, 200, 0);
}

.right-footer{
    align-self: stretch;
    background-color: rgb(74, 74, 74);
    color: rgb(255, 0, 0);
    padding: 25px;
    font-size: 15px;
}